<div class="pl-10 p-4">
    <h1 class="text-2xl font-bold mb-4">Select Options :</h1>
    <div class="flex flex-col gap-4 justify-center items-center">
        <button (click)="handleLWXClick()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded focus:outline-none focus:shadow-outline w-full max-w-xs">LWX</button>
        <button (click)="handleTOPClick()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded focus:outline-none focus:shadow-outline w-full max-w-xs">TOP</button>
    </div>
</div>
